AUTH_SECRET="MmslvyqkoxHwKuQh3b8g9MYsLkcDgslLea4Fg78zEgU="

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLIC_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:8080

LINEAR_API_TOKEN=
GITHUB_API_TOKEN=

REDIS_URL=redis://localhost:6379
